.section {
	padding: @section-padding;
	padding-top: @layout-header-height + @section-padding;
	height: 100vh;
}

.section__big__title {
	display: block;
	font-weight: bold;
	font-size: 56px;
	color: @text-color;
}

.section__subtitle {
	display: block;
	font-size: 24px;
	color: @text-color-secondary;
}
